#landing-header {
  position: relative;
}

.info-tooltip {
  opacity: 1 !important;
  padding-top: 10px;
  padding-bottom: 10px;

  &:before {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 12px;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 12px;
    margin-left: -12px;
  }
}
